<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>615988217985-dcrr6h4j5r7d2ovml69afk0hll6jk1mh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615988217985-dcrr6h4j5r7d2ovml69afk0hll6jk1mh</string>
	<key>API_KEY</key>
	<string>AIzaSyDruP8ZK_5aNJqt0lS5zBDxBAQz6gyEL5I</string>
	<key>GCM_SENDER_ID</key>
	<string>615988217985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DK05.Paladar</string>
	<key>PROJECT_ID</key>
	<string>paladar-bfe12</string>
	<key>STORAGE_BUCKET</key>
	<string>paladar-bfe12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:615988217985:ios:3497c36aaab39f8e</string>
	<key>DATABASE_URL</key>
	<string>https://paladar-bfe12.firebaseio.com</string>
</dict>
</plist>
